// regole generali
* {
  @include mainRules;
}

// body about
body.about {
  background: #000;
  header {
    position: absolute;
    min-height: 60px;
    width: 100%;
    z-index: 100;
    animation: 1s ease-out 0s 1 slideInFromTop;
    nav {
      @include flex(row, space-between, center);
      width: 90%;
      min-height: 60px;
      margin: auto;
      height: auto;
      .nav_links a {
        text-decoration: none;
        margin:0 0 0 10px;
        @include transition(color , 0.5s);
        &:hover {
          cursor: pointer;
          color:$linkColor;
        }
      }
    }
  }
  main {
    height: 100%;
    width: 100%;
    overflow: hidden;
    div.about_img {
      float:left;
      height: 100vh;
      width: 24%;
      border-right: 1px solid #fff;
      img {
        height: 100%;
        width: 100%;
      }
    }
    div.about_info {
      float:left;
      height: 100vh;
      width: 76%;
      div.title {
        margin: 40px;
        text-align: center;
        font-size: 23px;
      }
      div.subtitle {
        position:relative;
        width: 85%;
        margin: auto;
        p {
         font-family: 'Lato', sans-serif;
         font-style: italic;
         font-size: 18px;
        }
        i.fas.fa-quote-left {
          position: absolute;
          left: -35px;
          font-size: 30px;
          top: -20px;
        }
        i.fas.fa-quote-right {
          position: absolute;
          right: 72px;
          font-size: 30px;
          bottom: 10px;
        }
      }
      div.about_info_macro {
        width: 100%;
        height: 50vh;
      }
    }
  }
}
