// regole generali
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

// hover di imgs
.section_one:hover  img,
.section_two:hover  img,
.section_three:hover  img,
.section_four:hover  img {
   opacity: 1;
   transition:0.5s;
   -webkit-transition: .5s ease-in-out;
   -moz-transition: .5s ease-in-out;
   -o-transition: .5s ease-in-out;
   transition: .5s ease-in-out;
}


body.index {
    position: relative;
    background-image: url("https://media0.giphy.com/media/3o7TKLKBXz6RVuEDDO/source.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    header {
      position: absolute;
      min-height: 60px;
      width: 100%;
      z-index: 100;
      nav {
        width: 90%;
        min-height: 60px;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    main {
      height: 100vh;
      display: flex;
      position: relative;
      section {
        width: calc(100% / 4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div.section_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        img {
          max-width: 100%;
          height: 100%;
          opacity: 0;
          transition:0.5s;
          -webkit-transition: .5s ease-in-out;
          -moz-transition: .5s ease-in-out;
          -o-transition: .5s ease-in-out;
          transition: .5s ease-in-out;
        }
      }
      .section_absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-width: 100%;
        flex-direction: row;
      }
    }
    footer {
      min-height: 60px;
      width: 100%;
      position: absolute;
      bottom: 0;
       div.icons {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         width: 90%;
         margin: auto;
         min-height: 60px;
       }
    }
}

// body.about {
//     background-image: url("https://i.pinimg.com/originals/8b/35/fe/8b35fef55fba1a201c9c7a11d3ec3d64.gif");
//     height: 100vh;
//     background-size: cover;
//     background-repeat: no-repeat;
// }
