// regole generali
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body.index {
    position: relative;
    background-image: url("https://media0.giphy.com/media/3o7TKLKBXz6RVuEDDO/source.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    header {
      position: absolute;
      min-height: 60px;
      width: 100%;
      z-index: 100;
      nav {
        @include flex(row, space-between, center);
        width: 90%;
        min-height: 60px;
        margin: auto;
        height: auto;
        .nav_links a {
          text-decoration: none;
          margin:0 0 0 10px;
          @include transition(color , 0.5s);
          &:hover {
            cursor: pointer;
            color:$linkColor;
          }
        }
      }
    }
    main {
      height: 100vh;
      display: flex;
      position: relative;
      section {
        width: calc(100% / 4);
        overflow: hidden;
        @include flex(column, center, center);
        div.section_link {
        @include flex(column, center, center);
          width: 100%;
        }
        img {
          height: 100%;
          opacity: 0;
          @include imgs(0.5s);
        }
        &:hover  img {
          opacity: 1;
          @include imgs(0.5s);
        }
      }
      .section_absolute {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include flex(row, space-around, center);
        min-width: 100%;
        .section_link a {
          font-size: 40px;
          font-weight: 900;
          text-decoration: none;
          text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
          @include transition(color , 0.5s);
          &:hover {
            color:$linkColor;
            cursor: pointer;
          }
        }
      }
    }
    footer {
      min-height: 60px;
      width: 100%;
      position: absolute;
      bottom: 0;
       div.social {
        @include flex(row, flex-start, center);
         width: 90%;
         margin: auto;
         min-height: 60px;
         * {
           margin-right: 15px;
           font-size: 25px;
           @include transition(color , 0.3s);
           &:hover {
             cursor: pointer;
             transform: scale(1.1);
             color:$linkColor;
           }
         }
       }
    }
}
