h1 {
  color:$textcolor;
}
* {
  padding:0;
  margin:0;
  box-sizing: border-box;
  color:white;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
}

body.index {
    position: relative;
    background-image: url("https://media0.giphy.com/media/3o7TKLKBXz6RVuEDDO/source.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    header {
      position: absolute;
      min-height: 60px;
      width: 100%;
      nav {
        width: 90%;
        min-height: 60px;
        margin: auto;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
    main {
      height: 100vh;
      display: flex;
      section {
        width: calc(100% / 4);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div.section_link {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        }
        div.section_link:hover .section_one {
          background-image: url('https://images.unsplash.com/photo-1569982175971-d92b01cf8694?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxleHBsb3JlLWZlZWR8NHx8fGVufDB8fHw%3D&w=1000&q=80');
        }
      }
    }
    footer {
      min-height: 60px;
      width: 100%;
      position: absolute;
      bottom: 0;
       div.icons {
         display: flex;
         justify-content: flex-start;
         align-items: center;
         width: 90%;
         margin: auto;
         min-height: 60px;
       }
    }
}
// body.about {
//     background-image: url("https://i.pinimg.com/originals/8b/35/fe/8b35fef55fba1a201c9c7a11d3ec3d64.gif");
//     height: 100vh;
//     background-size: cover;
//     background-repeat: no-repeat;
// }
